* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2.1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 2.1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}
.burger {
  width: 1.5em;
  height: 1.25em;
}
.logo {
  width: 7.4em;
  height: 2.7em;
}
.nav-box {
  display: flex;
  gap: 15px;
}
.providers,
.sign {
  text-decoration: none;
  color: rgba(11, 74, 114, 1);
}
.box-1 {
  min-height: 60.4em;
  max-width: 71.3;
  background-color: rgba(254, 248, 241, 1);
  text-align: center;
  padding-top: 12.5em;
  font-family: "Roboto", sans-serif;
}
.box-1__text {
  font-size: 4.5em;
  margin-bottom: 0.5em;
  color: rgba(11, 74, 114, 1);
}
.box-1__rate {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
.main-picture {
  max-width: 100%;
}
.box-2 {
  margin-bottom: 7.5em;
  padding-top: 19em;
}
.box-2__text {
  font-size: 3em;
  text-align: center;
  color: rgba(11, 74, 114, 1);
  margin-bottom: 2.5em;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 17.4em;
  gap: 20px;
  margin-left: 9em;
  padding-right: 9em;
  font-family: "Roboto", sans-serif;
}
.container__text-small {
  font-size: 1.1em;
}
.container-1 {
  display: flex;
  flex-direction: column;
  height: 17.4em;
  gap: 10px;
  align-items: center;
}
.container__picture {
  width: 9.4em;
  height: 9.4em;
}
.container-2 {
  display: flex;
  flex-direction: column;
  height: 17.4em;
  gap: 10px;
  align-items: center;
}
.container-3 {
  display: flex;
  flex-direction: column;
  height: 17.4em;
  gap: 10px;
  align-items: center;
}
.container__text-big {
  font-size: 1.5em;
  color: rgba(11, 74, 114, 1);
}
@media screen and (max-width: 768px) {
  .box-1 {
    min-height: 30em;
    padding-top: 8.5em;
  }
  .box-1__text {
    font-size: 2.5em;
  }
  .box-2 {
    margin-bottom: 5.5em;
    padding-top: 10em;
  }
  .burger {
    width: 1em;
    height: 0.75em;
  }
  .logo {
    width: 5.4em;
    height: 1.7em;
  }
  .box-2__text {
    font-size: 2.5em;
  }
}
